<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
<a href="/products/add">Añadir Producto</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}">Editar</a>
            <a th:href="@{/products/delete/{id}(id=${product.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
